section {
  padding: 18px;
  background-color: #f2f3f5;
}

body {
  padding: 16px;
  font-family: system-ui;
}

.text {
  font-weight: normal;
}

.center {
  text-align: center;
}

.form-table {
  font-weight: 600;
  margin: 8px 0;
}

input[type="radio"] {
  padding: 6px 0;
}

input[type="number"] {
  width: 100%;
  padding: 6px 8px;
  display: inline-block;
  border: 1px solid lightgrey;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  background-color: white;
  border: none;
  color: black;
  padding: 8px 8px;
  text-align: center;
  font-family: system-ui;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  font-size: medium;
}

.button1 {
  background-color: #5cc0de;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 1px solid #dedede;
}

.button1:hover {
  background-color: lightgrey;
  color: black;
}

.button2:hover {
  background-color: lightgray;
  color: white;
}

.hidden {
  display: none;
}
